*{
    margin:0;
    padding:0;
}
body{
    margin: 25px 50px 50px 50px;
    background-color:black;
    
}
ul{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:30px;
    row-gap:30px;
}
h1{
    color:white;
}